
#canvasMain{
    width: 98vw;
    height: 97vh;
    touch-action: manipulation;
}

#buttonUP{
    position: absolute;

    top: 36vh;
    left: 11vw;

    height: 14vh;
    width: 10vw;

    opacity: 0.5;

    touch-action: manipulation;

}

#buttonDOWN{
    position: absolute;

    top: 64vh;
    left: 11vw;

    height: 14vh;
    width: 10vw;

    opacity: 0.5;
    touch-action: manipulation;
}

#buttonLEFT{
    position: absolute;

    top: 50vh;
    left: 1vw;
    height: 14vh;
    width: 10vw;

    opacity: 0.5;
    touch-action: manipulation;
    
}

#buttonRIGHT{
    position: absolute;

    top: 50vh;
    left: 21vw;
    height: 14vh;
    width: 10vw;

    opacity: 0.5;
    touch-action: manipulation;
}

#buttonCENTER{
    position: absolute;


    top: 50vh;
    left: 11vw;

    height: 14vh;
    width: 10vw;

    opacity: 0.5;
    touch-action: manipulation;
}